<section id="ts-experiences" class="ts-experiences">
    <div class="container-fluid">
       <div class="row">
          <div class="col-lg-6 no-padding">
             <div class="exp-img" style="background-image:url(assets/images/cta_img.jpg)">
                <!-- <img class="img-fluid" src="assets/images/cta_img.jpg" alt=""> -->
             </div>
          </div><!-- col end-->
          <div class="col-lg-6 no-padding align-self-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
             <div class="ts-exp-wrap">
                <div class="ts-exp-content">
                   <h2 class="column-title">
                      <span>Get Experience</span>
                      Shift your perspective on
                      digital business
                   </h2>
                   <p>
                      How  you transform your business as technology, consumer, habits industry dynamic s change? Find out from those leading the charge.
                   </p>
                </div>
             </div>

          </div><!-- col end-->
       </div><!-- row end-->
    </div><!-- container fluid end-->
 </section>