
  <!-- ts intro start -->

  <section class="ts-intro-item section-bg">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="300ms">
             <div class="intro-left-content">
                <h2 class="column-title">
                   <span>Why Join Exhibit</span>
                   Why you should
                   Join Event
                </h2>
                <p>
                   How you transform your business as tech, consumer, habits industry dynamic change, Find
                   out from those leading the charge.
                </p>
                <a href="#" class="btn">Buy Ticket</a>
             </div>
          </div><!-- col end-->
          <div class="col-lg-8">
             <div class="row">
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
                  <app-intro-card></app-intro-card>
                </div><!-- col end-->
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                   <div class="single-intro-text mb-30">
                      <i class="icon icon-netwrorking"></i>
                      <h3 class="ts-title">New People</h3>
                      <p>
                         How you transform your business as technology, consumer, habits industry dynamic
                      </p>
                      <span class="count-number">02</span>
                   </div><!-- single intro text end-->

                </div><!-- col end-->
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="600ms">
                   <div class="single-intro-text mb-30">
                      <i class="icon icon-people"></i>
                      <h3 class="ts-title">Networking</h3>
                      <p>
                         How you transform your business as technology, consumer, habits industry dynamic
                      </p>
                      <span class="count-number">03</span>
                   </div><!-- single intro text end-->
                </div><!-- col end-->
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms">
                   <div class="single-intro-text mb-30">
                      <i class="icon icon-fun"></i>
                      <h3 class="ts-title">Have Fun</h3>
                      <p>
                         How you transform your business as technology, consumer, habits industry dynamic
                      </p>
                      <span class="count-number">04</span>
                   </div><!-- single intro text end-->
                </div><!-- col end-->
             </div>
          </div><!-- col end-->

       </div><!-- row end-->
    </div><!-- container end-->
 </section>
 <!-- ts intro end-->