<div>
    <!-- start loader -->
    <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
    <!-- end loader -->
    <!-- Start wrapper-->
    <div id="wrapper">
    <!--Start sidebar-wrapper-->
    <app-side-bar></app-side-bar>
    <!--End sidebar-wrapper-->
    <!--Start topbar header-->
    <app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
    <!--End topbar header-->
 <!-- <app-admin-banner></app-admin-banner> -->
<!-- <app-admin-contact></app-admin-contact> -->

<!-- <app-admin-blog></app-admin-blog> -->
<!-- <app-admin-contact></app-admin-contact>
<app-admin-details></app-admin-details>
<app-admin-intro></app-admin-intro>
<app-admin-pricing></app-admin-pricing>
<app-admin-schedule></app-admin-schedule> -->
    <!-- <app-admin-blog></app-admin-blog> -->
    <!--Start Back To Top Button-->
     <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
     <!--End Back To Top Button-->
    <!--Start footer-->
    <app-admin-footer></app-admin-footer>
    <!--End footer-->
    
    <!--start color switcher-->
    <div class="right-sidebar">
     <div class="switcher-icon">
       <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
     </div>
     <div class="right-sidebar-content">
    
       <p class="mb-0">Gaussion Texture</p>
       <hr>
       
       <ul class="switcher">
         <li id="theme1"></li>
         <li id="theme2"></li>
         <li id="theme3"></li>
         <li id="theme4"></li>
         <li id="theme5"></li>
         <li id="theme6"></li>
       </ul>
    
       <p class="mb-0">Gradient Background</p>
       <hr>
       
       <ul class="switcher">
         <li id="theme7"></li>
         <li id="theme8"></li>
         <li id="theme9"></li>
         <li id="theme10"></li>
         <li id="theme11"></li>
         <li id="theme12"></li>
         <li id="theme13"></li>
         <li id="theme14"></li>
         <li id="theme15"></li>
       </ul>
       
      </div>
    </div>
    <!--end color switcher-->
    </div><!--End wrapper-->
    </div>
    
    
    