<!-- Start wrapper-->
<div id="wrapper">
    <div class="clearfix"></div>
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="row mt-3">
            <div class="col-lg-12">
               <div class="card">
                <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i class="zmdi zmdi-plus-circle"></i>
                            <span class="hidden-xs">New Sponsor</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#messages" data-toggle="pill" class="nav-link"> <i class="zmdi zmdi-format-list-bulleted"></i> <span class="hidden-xs">List</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active"><i class="zmdi zmdi-eye"></i>
                            <span class="hidden-xs">Preview</span></a>
                    </li>
                </ul>
                <div class="tab-content p-3">
                    <div class="tab-pane active" id="profile">
<app-sponsors></app-sponsors>
                       <!--/row-->


                    </div>

                                    <div class="tab-pane" id="messages">
              
                  <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                              <th scope="col">Logo</th>
                              <th scope="col">Company</th>
                              <th scope="col">Sector</th>
                              <th scope="col">VAlue</th>
                              <th scope="col">Edit</th>
                              <th scope="col">Delete</th>

                            </tr>
                          </thead>
                        <tbody>  
                             
                            <tr>
                                    <td><img src="https://via.placeholder.com/110x110" class="product-img" alt="product img"></td>
                             
                                <td>
                                   JMS   
                                  </td>

                                  <td>
                                    Flexible   
                                  </td>

                                  <td>
                                    300$   
                                  </td>

                                <td>
                                    <button class="btn"   > <i class="icon-edit"></i></button>

                                </td>

                                <td>
                                    <button class="btn " >  
                                        <i class="icon-trash"></i> 
                              
                                          <!-- <i class="fa fa-trash fa-6" aria-hidden="true" ></i> -->
                                    </button>
                                </td>
                            </tr>                                 
                            <tr>
                                <td><img src="https://via.placeholder.com/110x110" class="product-img" alt="product img"></td>
                         
                            <td>
                               JMS   
                              </td>

                              <td>
                                Flexible   
                              </td>

                              <td>
                                300$   
                              </td>

                            <td>
                                <button class="btn"   > <i class="icon-edit"></i></button>

                            </td>

                            <td>
                                <button class="btn " >  
                                    <i class="icon-trash"></i> 
                          
                                      <!-- <i class="fa fa-trash fa-6" aria-hidden="true" ></i> -->
                                </button>
                            </td>
                        </tr>  
                        <tr>
                            <td><img src="https://via.placeholder.com/110x110" class="product-img" alt="product img"></td>
                     
                        <td>
                           JMS   
                          </td>

                          <td>
                            Flexible   
                          </td>

                          <td>
                            300$   
                          </td>

                        <td>
                            <button class="btn"   > <i class="icon-edit"></i></button>

                        </td>

                        <td>
                            <button class="btn " >  
                                <i class="icon-trash"></i> 
                      
                                  <!-- <i class="fa fa-trash fa-6" aria-hidden="true" ></i> -->
                            </button>
                        </td>
                    </tr>  
                    <tr>
                        <td><img src="https://via.placeholder.com/110x110" class="product-img" alt="product img"></td>
                 
                    <td>
                       JMS   
                      </td>

                      <td>
                        Flexible   
                      </td>

                      <td>
                        300$   
                      </td>

                    <td>
                        <button class="btn"   > <i class="icon-edit"></i></button>

                    </td>

                    <td>
                        <button class="btn " >  
                            <i class="icon-trash"></i> 
                  
                              <!-- <i class="fa fa-trash fa-6" aria-hidden="true" ></i> -->
                        </button>
                    </td>
                </tr>  
                <tr>
                    <td><img src="https://via.placeholder.com/110x110" class="product-img" alt="product img"></td>
             
                <td>
                   JMS   
                  </td>

                  <td>
                    Flexible   
                  </td>

                  <td>
                    300$   
                  </td>

                <td>
                    <button class="btn"   > <i class="icon-edit"></i></button>

                </td>

                <td>
                    <button class="btn " >  
                        <i class="icon-trash"></i> 
              
                          <!-- <i class="fa fa-trash fa-6" aria-hidden="true" ></i> -->
                    </button>
                </td>
            </tr>  
            <tr>
                <td><img src="https://via.placeholder.com/110x110" class="product-img" alt="product img"></td>
         
            <td>
               JMS   
              </td>

              <td>
                Flexible   
              </td>

              <td>
                300$   
              </td>

            <td>
                <button class="btn"   > <i class="icon-edit"></i></button>

            </td>

            <td>
                <button class="btn " >  
                    <i class="icon-trash"></i> 
          
                      <!-- <i class="fa fa-trash fa-6" aria-hidden="true" ></i> -->
                </button>
            </td>
        </tr>  
                        
                       
                        </tbody> 
                    </table>
                  </div>
                </div>
                    <div class="tab-pane" id="edit">
                        <form>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Company </label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" value="name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Sector</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" value="food">
                                </div>
                            </div>
                          
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Value</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" value="value">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Logo</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="file">
                                </div>
                            </div>
                        
                           
  
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-8">
                                    <input type="reset" class="btn btn-secondary" value="Cancel">
                                    <input type="button" class="btn btn-primary" value="Save Changes">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
          </div>
            
        </div>
    
        <!--start overlay-->
              <div class="overlay toggle-menu"></div>
            <!--end overlay-->
        
        </div>
        <!-- End container-fluid-->
       </div><!--End content-wrapper-->
       <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    
      </div>






















