
      <section class="ts-contact-form">
        <div class="container">
           <div class="row">
              <div class="col-lg-8 mx-auto">
                 <h2 class="section-title text-center">
                    <span>Have Questions?</span>
                    Send Message
                 </h2>
              </div><!-- col end-->
           </div>
           <div class="row">
              <div class="col-lg-8 mx-auto">
                 <form id="contact-form" class="contact-form" action="http://demo.themewinter.com/html/exhibz/contact-form.php" method="post">
                    <div class="error-container"></div>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="form-group">
                             <input class="form-control form-control-name" placeholder="First Name" name="name" id="f-name"
                                type="text" required>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="form-group">
                             <input class="form-control form-control-name" placeholder="Last Name" name="name" id="l-name"
                                type="text" required>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="form-group">
                             <input class="form-control form-control-subject" placeholder="Subject" name="subject" id="subject"
                                required>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="form-group">
                             <input class="form-control form-control-email" placeholder="Email" name="email" id="email"
                                type="email" required>
                          </div>
                       </div>

                    </div>
                    <div class="form-group">
                       <textarea class="form-control form-control-message" name="message" id="message" placeholder="Your message...*"
                          rows="6" required></textarea>
                    </div>
                    <div class="text-center"><br>
                       <button class="btn" type="submit"> Send Message</button>
                    </div>
                 </form><!-- Contact form end -->
              </div>
           </div>
        </div>
        <div class="speaker-shap">
           <img class="shap1" src="images/shap/home_schedule_memphis2.png" alt="">
        </div>
       </section>